.header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.main {
  padding: 1rem;
}